#name_intro {
    text-align: left;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    padding: 15px
}

.main-content {
    float: left;
    width: 60%; /* Adjust this value as needed */
    padding: 20px;
}

.text-info {
    width: 60%;
    padding: 20px;
    font-size: 140%;
}
