#name_intro {
    text-align: left;
    font-size: 35px;
    font-family: monospace;
    font-weight: bold;
    padding: 5px
}
#name_intro2 {
    text-align: center;
    font-size: 35px;
    font-family: monospace;
    font-weight: bold;
    padding: 5px
}
#center-category {
    text-align: center;
    font-size: 30px;
}


.main-content {
    float: left;
    width: 60%; /* Adjust this value as needed */
    padding: 20px;
}

.text-info {
    width: 65%;
    padding: 1px;
    font-size: 140%;
}

.jpl-img-container {
    text-align: center;
    padding: 20px;
}

.jpl-img-container img {
    display: inline-block;
    width: calc(30% - 1px); /* 50% width minus 20px padding (10px for each image) */
    padding: 10px;
    box-sizing: border-box; /* Include padding in the width calculation */
}
#fac-aff {
    padding-top: 100px;
}

.swift-container {
    text-align: center;
}

#saul {
    padding-top: 65px;
}