@font-face {
    font-family: 'LuckiestGuy';
    src: url(font-imports\LuckiestGuy.ttf) format("truetype");
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 50;
}

.loader img{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 45%;
}

.loader p{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: 'LuckiestGuy';
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    position: fixed;
    content: "";
    width: 30px;
    height: 30px;
    bottom: 30%;
    border: 15px solid rgb(228, 228, 228);
    border-top-color: rgb(35, 44, 87);
    border-radius: 50%;
    animation: loading 0.92s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to {
        transform: rotate(-1turn);
    }
}